In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY

In [3]:
y=df.median_house_value
x=df.drop('median_house_value', axis=1)

In [4]:
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2)

In [5]:

y_train

16337    148200
10810    192900
8424     204500
7267     175000
2008      43800
8950     405400
2206      96500
14385    367400
4179     138900
10713    230400
19648    159400
3295      77800
18885     92800
18567    218100
428      259600
11019    334600
20146    186000
8062     490300
10740    500001
9221      58800
14533    195500
6081     191700
11308    190700
15473    210400
19875    112500
6966     188000
16874    450000
4837     136400
16751    239900
2715      87500
          ...
4503     121900
15025    185200
13329    162000
5534     422000
15919    292300
19223    275900
16643    300000
14972    127600
2034      52100
8602     316900
20617     70800
16994    327800
230      169600
1814     178400
20086    153500
8642     500001
9358     435700
19623    112500
17874    226700
13662    122400
1650     181200
17007    298100
18993    245800
12381    113600
2521      14999
3907     224700
13090    118800
17655    234800
1505     344800
15609    300300
Name: median_house_value, Length: 16512, dtype: int64

In [6]:
y_train.isnull().sum()

0

In [7]:
y_test.isnull().sum()

0

In [8]:
x_test['longitude'].isnull().sum()

0

In [9]:
x_test['housing_median_age'].isnull().sum()

0

In [10]:
x_test['latitude'].isnull().sum()

0

In [11]:
x_test['total_rooms'].isnull().sum()

0

In [12]:
x_test['total_bedrooms'].isnull().sum()

40

In [13]:
x_test['total_bedrooms']=x_test['total_bedrooms'].fillna(value=x_test['total_bedrooms'].median())

C:\Users\ashirvad\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
x_test['population'].isnull().sum()

0

In [15]:

x_test['households'].isnull().sum()

0

In [16]:
x_test['ocean_proximity'].isnull().sum()

0

In [17]:
x_test['ocean_proximity'].replace(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN'], [1, 2, 3, 4], inplace=True)

C:\Users\ashirvad\Anaconda3\lib\site-packages\pandas\core\generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [18]:
x_train['ocean_proximity'].replace(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN'], [1, 2, 3, 4], inplace=True)

In [19]:
x_train['longitude'].isnull().sum()

0

In [20]:
x_train['latitude'].isnull().sum()

0

In [21]:

x_train['housing_median_age'].isnull().sum()

0

In [22]:
x_train['total_rooms'].isnull().sum()

0

In [23]:
x_train['total_bedrooms'].isnull().sum()

167

In [24]:
x_train['total_bedrooms']=x_train['total_bedrooms'].fillna(value=x_train['total_bedrooms'].median())

C:\Users\ashirvad\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
x_train['population'].isnull().sum()

0

In [26]:
x_train['households'].isnull().sum()

0

In [27]:

x_train['median_income'].isnull().sum()

0

In [28]:
x_test['median_income'].isnull().sum()

0

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
regress=LinearRegression()

In [31]:
x_train['ocean_proximity'].replace(['ISLAND'], [0], inplace=True)

In [32]:
regress.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [33]:
x_test['ocean_proximity'].replace(['ISLAND'], [0], inplace=True)
y1=regress.predict(x_test)

C:\Users\ashirvad\Anaconda3\lib\site-packages\pandas\core\generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [34]:
y1

array([106454.95303035, 237920.43601318,  62358.16900475, ...,
       200595.30989981, 128017.84726358, 240604.81204438])

In [35]:
y_test

13872    100500
8055     143200
1107      97200
12263     56700
18230    290600
18519    362300
8160     223900
1076     122600
10554    220600
8332     128000
19708    112300
11261    169000
1104     119600
19237    341500
641      264700
9967     187500
17745    335500
7514     110700
20207    229300
10732    500001
3039     146200
11577    208800
19694     94200
19250    178300
12637     67300
5797     238000
11757    247600
1579     287300
20626     93800
17923    287100
          ...
17866    252200
335       90500
2607     102700
16478    113000
19122    193300
14019    243800
18214    500001
19684     61500
18798     73200
12985    117100
6244     151100
12091    118000
18744     93800
18162    403000
5974     180500
17000    391000
5217      87500
2006      61200
9971     214500
16535    158300
15642    420000
7915     244900
17750    160100
10370    237900
14002    112800
15267    286900
5716     306300
9088     179700
2455      82700
3897     209000
Name: median_house_value, Length: 4128, dtype: int64